@font-face {
    font-family: 'DungGeunMo';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;;
    width: 100%;
    position: relative;
    /*background-color: black;*/
}

.logoContainer {
    width: 24rem;
    height: auto;
    margin-left: 2rem;
    margin-top: 2rem;
}

.logo {
    width: 12rem;
    height: auto;
}

.comemonsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 2rem;
    gap: 4rem;
}


.itemContainer {
    position: relative;
    width: 10rem;
    height: 16rem;
    padding: 1rem;
}

.nameBox {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 6.3rem;
    background-image: url("../images/comemon/name.png");
    background-size : cover;
    background-repeat: round;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    /*margin-top: 3rem;*/
}

.comemonName {
    font-family: 'DungGeunMo', sans-serif;
    font-size: 1.6rem;
}

.comemonLv {
    color: #6d7175;
    font-size: 1.1rem;
    margin: 0;
    font-weight: bold;
}

.comemon {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

