@font-face {
  font-family: 'iceHimchan-Rg';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/iceHimchan-Rg.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}

.rightSideTopContainer {
  display: none;
}

.topContainer {
  flex: 1;
  max-width: 67rem;
  background-color: white;
  border-radius: 0.2rem;
  padding: 1rem;
  font-size: 1.4rem;
  font-weight: 400;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  font-family: 'iceHimchan-Rg', sans-serif;
}

.bottomOuterContainer {
  /*-ms-overflow-style: none;*/
  /*scrollbar-width: none;*/
  margin-top: 2.5rem;
  /*height: calc(100vh - 96px);*/
  overflow-y: auto;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
}

.middleContainer,
.activeContainer,
.issueContainer,
.issue {
  width: 100%;
}

.activeContainer {
  margin-right: 2rem;
}

.etcContainer {
  margin-top: 2rem;
  padding: 1rem;
}

.innerContainer {
  margin-top: 2rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 2.4rem;
  height: 20rem;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 8px -10px;
}

.middleContainer {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  margin-top: 2rem;
  gap: 1rem;
}

.activeContainer,
.issueContainer {
  flex: 1;
}

.middleTitle {
  max-width: 18.8rem;
  margin-top: 2.3rem;
  height: 4rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 600;
  background-color: white;
  align-items: center;
}

.tag {
  height: 3.4rem;
}

.middleBar {
  width: 4rem;
  height: 0.5rem;
  border-radius: 3rem;
  background-color: #4db24d;
}

.activeChart {
  width: 100%;
  max-width: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 2rem 1rem;
  margin: 0.6rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  background-color: white;
  border-radius: 1.2rem;
  box-sizing: border-box;
  aspect-ratio: 16 / 10; /* 비율 유지 */
  margin-top: 1rem;
}

.issueList {
  box-sizing: border-box;
  margin-top: 1.2rem;
  height: 22rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.issue {
  margin-top: 1rem;
}

.bottomContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  padding: 0 1rem 3rem 1rem;
  margin-top: 1rem;
  width: 100%;
}

.customContainer {
  display: none;
}

/* Media Queries */
@media screen and (max-width: 1280px) {
  .middleContainer {
    flex-direction: column;
  }

  .activeContainer,
  .issueContainer {
    max-width: 60rem;
  }
}

@media screen and (max-width: 989px) {
  /*.bottomOuterContainer {*/
  /*  height: calc(100vh - 16rem);*/
  /*}*/

  .topContainer {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .middleContainer {
    flex-direction: column;
  }

  .topContainer {
    font-size: 1.2rem;
    padding: 0.8rem;
  }

  .title {
    font-size: 2rem;
  }

  .innerContainer {
    height: 18rem;
  }

  .middleTitle {
    font-size: 1.6rem;
  }

  .activeChart {
    min-width: 35rem;
    max-width: 47rem;
    height: auto;
  }

  .actionIcon {
    width: 1.2rem;
  }

  .bottomInner {
    max-width: 19rem;
    padding: 1rem;
    height: 6rem;
  }

  .innerImage {
    width: 4rem;
    height: 4rem;
  }

  .textTitle {
    font-size: 1.6rem;
  }

  .textBottom {
    font-size: 1.5rem;
  }

  .bottomContainer {
    gap: 2rem;
    padding: 1.5rem;
  }
}

@media screen and (max-width: 576px) {
  .middleContainer {
    flex-direction: column;
  }

  .topContainer {
    font-size: 1rem;
    padding: 0.6rem;
  }

  .title {
    font-size: 1.8rem;
  }

  .innerContainer {
    height: 16rem;
  }

  .activeChart {
    max-width: 25rem;
    height: auto;
  }

  .actionIcon {
    width: 1.3rem;
  }

  .bottomInner {
    max-width: 18rem;
    padding: 1rem;
    height: 6.3rem;
  }

  .innerImage {
    width: 3.5rem;
    height: 3.5rem;
  }

  .textTitle {
    font-size: 1.4rem;
  }

  .textBottom {
    font-size: 1.2rem;
  }

  .bottomContainer {
    gap: 1.5rem;
    padding: 1rem;
  }
}

@media screen and (max-width: 400px) {
  .topContainer {
    font-size: 0.9rem;
    padding: 0.5rem;
  }

  .title {
    font-size: 1.6rem;
  }

  .innerContainer {
    height: 14rem;
  }

  .activeChart {
    min-width: 25rem;
    height: auto;
    padding: 5rem;
  }

  .actionIcon {
    width: 0.8rem;
  }

  .innerImage {
    width: 3rem;
    height: 3rem;
  }

  .textTitle {
    font-size: 1.2rem;
  }

  .textBottom {
    font-size: 1.2rem;
  }

  .bottomContainer {
    gap: 0.8rem;
    padding: 0.7rem;
  }
}

@media screen and (max-width: 320px) {
  .topContainer {
    font-size: 0.8rem;
    padding: 0.4rem;
  }

  .title {
    font-size: 1.4rem;
  }

  .innerContainer {
    height: 12rem;
  }

  .activeChart {
    min-width: 20rem;
    height: auto;
  }

  .actionIcon {
    width: 0.6rem;
  }

  .innerImage {
    width: 2.5rem;
    height: 2.5rem;
  }

  .textTitle {
    font-size: 1rem;
  }

  .textBottom {
    font-size: 1rem;
  }

  .bottomContainer {
    gap: 1.2rem;
    padding: 0.6rem;
  }
}



/*mobile style =============>*/
.mobileContainer {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: red;
}

.test {
  width: 100%;
  height: 1500px;
}