@font-face {
  font-family: 'iceHimchan-Rg';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/iceHimchan-Rg.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.rightSideTopContainer {
  display: none;
}

.topContainer {
  flex: 1;
  max-width: 67rem;
  background-color: white;
  border-radius: 0.2rem;
  padding: 1rem;
  font-size: 1.4rem;
  font-weight: 400;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  font-family: 'iceHimchan-Rg', sans-serif;
}

.bottomOuterContainer {
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin-top: 2.5rem;
  height: calc(100vh - 96px);
  overflow-y: auto;
}

.wordCloudContainer,
.middleContainer,
.activeContainer,
.issueContainer,
.issue,
.bottomInner {
  width: 100%;
}

.activeContainer {
  margin-right: 5rem;
}

.innerContainer {
  margin-top: 2rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 2.4rem;
  height: 20rem;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 8px -10px;
}

.wordCloud {
  width: 25rem;
}

.middleContainer {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  margin-top: 2rem;
  gap: 1rem;
}

.activeContainer,
.issueContainer {
  flex: 1;
}

.middleTitle {
  max-width: 18.8rem;
  margin-top: 2.3rem;
  height: 4rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 600;
  background-color: white;
  align-items: center;
}

.tag {
  height: 3.4rem;
}

.middleBar {
  width: 4rem;
  height: 0.5rem;
  border-radius: 3rem;
  background-color: #4db24d;
}

.activeChart {
  width: 100%;
  margin: 0.6rem;
  box-sizing: border-box;
  aspect-ratio: 16 / 9; /* 비율 유지 */
  padding: 0;
}

.issueList {
  box-sizing: border-box;
  margin-top: 1.2rem;
  height: 22rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.issue {
  padding: 1rem;
  background-color: white;
  height: 9rem;
  box-sizing: border-box;
  border-radius: 1rem;
}

.issueMessage {
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.action {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.actionIcon {
  width: 1.5rem;
}

.comment,
.clip,
.check {
  color: #9ea3a9;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.bottomInner {
  max-width: 20rem;
  gap: 2.6rem;
  display: flex;
  align-items: center;
  background-color: white;
  padding: 1rem;
  box-sizing: border-box;
  height: 7rem;
  border-radius: 1.6rem;
  box-shadow:
          rgba(0, 0, 0, 0.08) 0rem 0.625rem 0.9375rem -0.1875rem,
          rgba(0, 0, 0, 0.05) 0rem 0.25rem 0.375rem -0.125rem;
}

.bottomContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 6rem;
  padding: 0 5rem 3rem 5rem;
  margin-top: 3rem;
  width: 100%;
}

.innerImage {
  width: 5rem;
  height: 5rem;
}

.textTitle {
  font-weight: 600;
  font-size: 1.8rem;
}

.textBottom {
  font-size: 1.5rem;
  color: #8a97a4;
}

.customContainer {
  display: none;
}

/* Media Queries */
@media screen and (max-width: 1200px) {
  .middleContainer {
    flex-direction: row;
  }

  .activeContainer,
  .issueContainer {
    max-width: 60rem;
  }
}

@media screen and (max-width: 992px) {
  .topContainer {
    display: none;
  }

  .wordCloudContainer{
    margin-top: 6rem;
  }
}

@media screen and (max-width: 768px) {
  .middleContainer {
    flex-direction: column;
  }

  .topContainer {
    font-size: 1.2rem;
    padding: 0.8rem;
  }

  .title {
    font-size: 2rem;
  }

  .innerContainer {
    height: 18rem;
  }

  .wordCloud {
    width: 20rem;
  }

  .middleTitle {
    font-size: 1.6rem;
  }

  .activeChart {
    min-width: 35rem;
    max-width: 47rem;
    height: auto;
  }

  .issue {
    height: 8rem;
  }

  .actionIcon {
    width: 1.2rem;
  }

  .bottomInner {
    max-width: 19rem;
    padding: 1rem;
    height: 6rem;
  }

  .innerImage {
    width: 4rem;
    height: 4rem;
  }

  .textTitle {
    font-size: 1.6rem;
  }

  .textBottom {
    font-size: 1.5rem;
  }

  .bottomContainer {
    gap: 2rem;
    padding: 1.5rem;
  }
}

@media screen and (max-width: 576px) {
  .middleContainer {
    flex-direction: column;
  }

  .topContainer {
    font-size: 1rem;
    padding: 0.6rem;
  }

  .title {
    font-size: 1.8rem;
  }

  .innerContainer {
    height: 16rem;
  }

  .wordCloud {
    width: 18rem;
  }

  .activeChart {
    max-width: 25rem;
    height: auto;
  }

  .issue {
    height: 7rem;
  }

  .actionIcon {
    width: 1.3rem;
  }

  .bottomInner {
    max-width: 18rem;
    padding: 1rem;
    height: 6.3rem;
  }

  .innerImage {
    width: 3.5rem;
    height: 3.5rem;
  }

  .textTitle {
    font-size: 1.4rem;
  }

  .textBottom {
    font-size: 1.2rem;
  }

  .bottomContainer {
    gap: 1.5rem;
    padding: 1rem;
  }
}

@media screen and (max-width: 400px) {
  .topContainer {
    font-size: 0.9rem;
    padding: 0.5rem;
  }

  .title {
    font-size: 1.6rem;
  }

  .innerContainer {
    height: 14rem;
  }

  .wordCloud {
    width: 15rem;
  }

  .activeChart {
    min-width: 25rem;
    height: auto;
    padding: 5rem;
  }

  .issue {
    height: 6rem;
  }

  .actionIcon {
    width: 0.8rem;
  }

  .innerImage {
    width: 3rem;
    height: 3rem;
  }

  .textTitle {
    font-size: 1.2rem;
  }

  .textBottom {
    font-size: 1.2rem;
  }

  .bottomContainer {
    gap: 0.8rem;
    padding: 0.7rem;
  }
}

@media screen and (max-width: 320px) {
  .topContainer {
    font-size: 0.8rem;
    padding: 0.4rem;
  }

  .title {
    font-size: 1.4rem;
  }

  .innerContainer {
    height: 12rem;
  }

  .wordCloud {
    width: 13rem;
  }

  .activeChart {
    min-width: 20rem;
    height: auto;
  }

  .issue {
    height: 5rem;
  }

  .actionIcon {
    width: 0.6rem;
  }

  .innerImage {
    width: 2.5rem;
    height: 2.5rem;
  }

  .textTitle {
    font-size: 1rem;
  }

  .textBottom {
    font-size: 1rem;
  }

  .bottomContainer {
    gap: 1.2rem;
    padding: 0.6rem;
  }
}
