.header {
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  color: black;
  text-align: center;
  z-index: 1000;
  height: 6rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 2rem;
  justify-content: space-between;
}

.logoContainer img {
  width: 13rem;
}

.searchMenuContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.searchIcon {
  font-size: 2rem;
  color: #2d2d2d;
  margin-top: 0.5rem;
}

.hamburgerMenu {
  font-size: 1rem;
  color: #2d2d2d;
}
