.topContainer {
    display: flex;
    align-items: center;
    gap: 2rem;
    background: var(--git0);
    padding: 1.3rem;
    border-radius: 6rem;
}

.notiContainer {
    border-radius: 50%;
    background-color: white;
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profileContainer {
    border-radius: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem;
    box-sizing: border-box;
    background-color: white;
    font-size: 1.4rem;
    width: 24.3rem;
}

.innerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.notiIcon {
    width: 1.7rem;
}

.profileImage {
    width: 3.8rem;
}

.dropImage {
    height: 0.8rem;
    width: 1.4rem;
    padding: 1rem;
}
