.topContainer {
  display: flex;
  align-items: center;
  gap: 2rem;
  background: var(--git0);
  padding: 1.3rem;
  border-radius: 6rem;
  height: 7.5rem;
  width: 30rem;
}

.topContainerInHome {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: var(--git0);
  padding: 1.6rem;
  border-radius: 6rem;
  height: 7.5rem;
  width: 30rem;
  position: fixed;
  top: 7rem;
  right: 7.5rem;
  z-index: 100;
}

.notiContainer {
  border-radius: 50%;
  background-color: white;
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 5.8rem;
  right: 30rem;
}

.profileContainer {
  border-radius: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem;
  box-sizing: border-box;
  background-color: white;
  font-size: 1.4rem;
  width: 23rem;
  position: fixed;
  top: 5rem;
  right: 6.2rem;
}

.innerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.loading {
  width: 2rem;
}

.notiIcon {
  width: 1.7rem;
}

.profileImage {
  width: 3.8rem;
  height: 3.8rem;
  border-radius: 50%;
}

.loadingContainer {
  width: 3.8rem;
  height: 3.8rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
}

.dropImage {
  height: 0.8rem;
  width: 1.4rem;
  padding: 1rem;
}

@media screen and (max-width: 990px) {
  .topContainerInHome {
    display: block;
  }
}

@media screen and (max-width: 750px) {
  /*.topContainerInHome {*/
  /*  display: none;*/
  /*}*/

  /*.resImgContainer {*/
  /*  display: block;*/
  /*}*/

  /*.profileImage {*/
  /*  position: fixed;*/
  /*  top: 5.8rem;*/
  /*  right: 5rem;*/
  /*  object-fit: cover;*/
  /*  border: 3px solid white;*/
  /*  border-radius: 50%;*/
  /*  box-sizing: border-box;*/
  /*  box-shadow: 0 0 0 7px var(--git0);*/
  /*}*/
}
