.wordCloud {
  height: 30rem;
  width: 100%;
}

@media (max-width: 1800px) {
  .wordCloud {
    height: 30rem;
    width: 75rem;
  }
}

@media (max-width: 1440px) {
  .wordCloud {
    height: 30rem;
    width: 53rem;
  }
}

@media (max-width: 1200px) {
  .wordCloud {
    height: 30rem;
    width: 43rem;
  }
}

@media (max-width: 1024px) {
  .wordCloud {
    height: 30rem;
    width: 30rem;
  }
}

@media (max-width: 990px) {
  .wordCloud {
    height: 30rem;
    width: 50rem;
  }
}

@media (max-width: 768px) {
  .wordCloud {
    height: 30rem;
    width: 30rem;
  }
}
