html {
  background: var(--light-gray);
  font-size: 62.5%;
}

body {
  /* 익스플로러 스크롤바 옵션 */
  -ms-overflow-style: none;
  /* 파이어폭스 스크롤바 옵션 */
  scrollbar-width: none;
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: 'Poppins', sans-serif;
}

:root {
  --git1: #4dad5d;
  --git2: #218d49;
  --git3: #4eaf5d;
}
